<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PTORR-API | PVCODES</title>
    <link rel="shortcut icon" href="https://avatars3.githubusercontent.com/pvcodes" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
    <link href="/static/err404.css" rel="stylesheet" type="text/css" />

</head>

<body class="loading">
    <div class="error-502__container">
        <div class="error-502">
            <div class="error-502__text">
                <h1>Invalid Page <b>:(</b></h1>
                <h2>
                    <p>Visit the docs on <a href="https://ptorr-api.herokuapp.com" target="_blank">Homepage</a>.</p>
                </h2>
            </div>
        </div>
    </div>
    <div class="gears">
        <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script>
        $(function () {
            setTimeout(function () {
                $('body').removeClass('loading');
            }, 1000);
        });
    </script>
</body>

</html>
<!-- partial -->

</body>

</html>