<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PTORR-API | PVCODES</title>
    <link rel="shortcut icon" href="https://avatars3.githubusercontent.com/pvcodes" type="image/x-icon">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono'>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="content-wrapper">
        <div class="v-center">
            <h1><a href="https://github.com/pvcodes/ptorr-api" target="_blank">PTORR-API</a></h1>
            <div class="main-content">
                <p><span>PTORR-API</span> is a open sourced restful api for torrents. It is build on Python, Flask.</p>
                <a href="https://github.com/pvcodes/ptorr-api"target="_blank">Repository</a> <span>|</span>
                <a href="https://discord.gg/2Zx3zZn"target="_blank">Support Server</a>
                <h3>METHODS</h3>
                <p class="demos">
                    <b>GET:</b>
                    <a href="https://ptorr-api.herokuapp.com/key=batman" target="_blank">https://ptorr-api.herokuapp.com/key=<i>batman</i></a>
                <p>It will return the JSON Object consisting of <i>torr-id</i> and <i>torr-title</i></p>
                <pre><code id=ex_keyword></code></pre>
                <b>GET:</b>
                <a href="https://ptorr-api.herokuapp.com/getorr=f500b9eb5e1c495e373fd14d50e0c1db228f08df" target="_blank">https://ptorr-api.herokuapp.com/getorr=<i>torr-id</i></a>
                <p>It will return the <i>torr-file</i> to be downloaded.</p>
                </p>
            </div>
            <p>To report a bug or add a feature Visit <a href="https://github.com/pvcodes/ptorr-api/issues" target="_blank">here</a></p>
            <h3>Created By: <a href="http://pvcodes.in" target="_blank">Pranjal Verma</a></h3>
        </div>
    </div>
    <div class="abs-fs">
        <div class="canvas">
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
            <div class="square square--tomato"></div>
            <div class="square square--aqua"></div>
            <div class="square square--gold"></div>
        </div>
    </div>
    <!-- partial -->

</body>
<script src="static/script.js"></script>

</html>